# Data Science Tools and Ecosystem

# Introduction

In this notebook, Data Science Tools and Ecosystem are summarized.

# Here are some popular data science langauges

- Python
- R
- Julia
- SQL
- Scala

# Data Science Tools and Ecosystem

| Data Science Tools        |
|---------------------------|
| Jupyter Notebook          |
| RStudio                   |
| VS Code with Python       |

# Arithmetic Expression Examples

### Below are a few examples of evaluating arithmetic expressions in Python.

Let's look at some basic arithmetic operators:

- **Addition (+):** Adds two numbers together. For example, `2 + 3` results in `5`.
- **Subtraction (-):** Subtracts the second number from the first. For example, `5 - 3` results in `2`.
- **Multiplication (*):** Multiplies two numbers. For example, `2 * 3` results in `6`.

In [2]:
# This is a simple arithmetic expression to multiply then add integers.
result = (3 * 4) + 5
result

17

In [3]:
# This will convert 200 minutes to hours by dividing by 60.
minutes = 200
hours = minutes / 60
hours

3.3333333333333335

**Objectives:**

- List popular languages for Data Science.
- Understand basic arithmetic operators and expressions in Python.
- Perform multiplication and addition operations using Python code.
- Convert minutes to hours using Python code.
- Demonstrate the use of Markdown cells in Jupyter Notebook.

## Author
Rana